/* src/Header.css */
header {
  background-color: #f5d76e; /* Vivid yellow header background */
  color: #333333; /* Darker text color */
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #d40711; /* Darker text color */
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: #d40711; /* Darker text color */
}
